{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>
        ACCOUNT INFOMRATION
    </h1>
    <form method="POST"> {% csrf_token %}
        <div>
            <label for="first_name">First Name: </label> <br>
            <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
        </div>
        <div>
            <label for="last_name">First Name: </label> <br>
            <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
        </div>
        <div>
            <label for="age">Age: </label> <br>
            <input type="text" name="age" id="age" value="{{ user.admin_account.age }}">
        </div>
        <div>
            <label for="birthday">Birthday: </label> <br>
            <input type="date" name="birthday" id="birthday" value="{{ user.admin_account.birthday }}">
        </div>
        <div>
            <label for="contact_number">Contact Number: </label> <br>
            <input type="text" name="contact_number" id="contact_number"
                value="{{ user.admin_account.contact_number }}">
        </div>

        <div class="mt-4">
            <input class="btn btn-secondary" type="submit" value="Save Account Details">
        </div>
    </form>

    <script>
        function taskDate(dateMilli) {
            var d = (new Date(dateMilli) + '').split(' ');
            d[2] = d[2] + ',';

            return [d[0], d[1], d[2], d[3]].join(' ');
        }
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        
        birthday = '{{ user.admin_account.birthday }}'

        var datemilli = Date.parse(birthday);
        console.log(taskDate(datemilli));
        console.log(formatDate(taskDate(datemilli)));
        document.getElementById('birthday').value = formatDate(taskDate(datemilli))
    </script>

</div>

{% endblock %}