{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="maintitle">
        {% block checkerTitle %}
        Barangay ID (Constituent)
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'logo.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<style>
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 80px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0);
        /* Black w/ opacity */
    }

    #accountArrow,
    .avatar,
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<body>
    <nav class="container-fluid navbar navbar-expand-md navbarGV">
        <div class="container">
            <a href="{% url 'base' %}" style="padding: 0px; margin: 0px;"><img class="mr-2"
                    src="{% static 'logo.png' %}" style="width: 60px; height: 60px; margin-right: 20px" alt=""></a>

            <div class="titleFont">
                <a href="{% url 'base' %}" class="navbarTitle globalSubHeader" style="text-decoration: none; ">Barangay
                    GV Web
                    Portal</a>
            </div>

            <button class="navbar-toggler btn-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false"
                aria-lable="Toggle navigation">
                <div class="navBarDrawer">
                </div>
                <div class="navBarDrawer">
                </div>
                <div class="navBarDrawer">
                </div>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">
                    <li class="bodyFont globalBody p-2">
                        <a class="nav-link navbarOption" href="{% url 'base' %}">Home</a>
                    </li>
                    <li class="bodyFont globalBody p-2">
                        <a class="nav-link navbarOption" href="">Contact</a>
                    </li>
                    <li class="bodyFont globalBody p-2">
                        <a class="nav-link navbarOption" href="">About Us</a>
                    </li>
                    <li class="bodyFont globalBody p-2" id="signin">
                        <a class="nav-link navbarOption" href="{% url 'user_login' %}">Sign In</a>
                    </li>
                    <li class="bodyFont globalBody p-2" id="register">
                        <a style="margin-right: 0px;" class="nav-link navbarOption" href="">Register</a>
                    </li>
                    <li>
                        <div class="row p-2" id="modalButton" style="border: 1px solid white; border-radius: 20px;">
                            <div class="col-lg-12 col-sm-12 avatar text-center pt-2 globalBody" id="avatar">

                            </div>
                            <div class="col-sm col-lg align-self-center">
                                <p class="p-0 m-0" id="accountArrow" style="color: white;">&#x25BC</p>
                            </div>
                        </div>

                        <div class="modal" id="myModal">
                            <div class="modal-content" style="width: 10%; margin-left: 80%;">
                                <span class="close d-flex justify-content-end"
                                    style="margin-right: 10px;">&times;</span>
                                <div class="d-flex justify-content-center mt-2">
                                    <p class="globalTableCell">My Account</p>
                                </div>
                                <a href="{% url 'user_logout' %}">
                                    <div class="d-flex justify-content-center">
                                        <p class="globalTableCell">Sign Out</p>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="main">
        <div class="container pb-5">
            <div class="row pt-5 justify-content-center">
                <div class="col-lg-6 col-sm-12 bg-primary cardHeader d-flex justify-content-center">
                    <p class="cardText globalTitle titleFont" id="checkerTitle" value="Barangay ID (Constituent)">
                        {% block title %}
                        Barangay ID (Constituent)
                        {% endblock %}
                    </p>
                </div>
                <div class="col-lg">
                </div>
                <div class="col-lg-2 col-sm-12 align-self-end mt-5 d-flex justify-content-center">
                    <a href="{% url 'base' %}"><button class="btn btn-secondary">Back</button></a>
                </div>
            </div>



            <div class="formCard p-5 mt-5">
                <div class="form p-5">
                    {% block form %}
                    <form class = "needs-validation" id="mainForm" method="POST" action="{% url 'create_barangay_id' %}" novalidate> {% csrf_token %}
                        <!-- :) -->
                        <input id="barangay_id_type" name="barangay_id_type" type="text" style="display: none;">
                        <input id="document_id" name="document_id" type="text" style="display: none;">
                        <div class="row" style="display: none;">
                            <ul id="trial">
                                {% for b in ids %}
                                <li>{{ b.contact_num }}:{{ b.status }}</li>
                                {% endfor %}

                                {% for c in clearances %}
                                <li>{{ c.contact_num }}:{{ c.status }}</li>
                                {% endfor %}

                                {% for d in certificateIndigency %}
                                <li>{{ d.contact_num }}:{{ d.status }}</li>
                                {% endfor %}

                                {% for e in certificate %}
                                <li>{{ e.contact_num }}:{{ e.status }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="row">
                            <p class="bodyFont formLabel globalSubHeader"><span style="color: #B30000;">*</span> Required fields</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="formTitle titleFont globalHeader mb-5">Personal Details</span>
                            </div>
                        </div>

                        <div class="row mt-5 mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="last_name">Last Name<span style="color: #B30000;">*</span></label></label>
                                    <input name = "last_name" type="text" class="bodyFont formInput form-control" id="last_name" placeholder="Last Name" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Last Name.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="first_name">First Name<span style="color: #B30000;">*</span></label></label>
                                    <input name = "first_name" type="text" class="bodyFont formInput form-control" id="first_name" placeholder="First Name" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid First Name.</p>
                                    </div>
                                </div>    
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="middle_name">Middle Name<span style="color: #B30000;">*</span></label></label>
                                    <input name = "middle_name" type="text" class="bodyFont formInput form-control" id="middle_name" placeholder="Middle Name" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Middle Name.</p>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="birthday">Birthday<span style="color: #B30000;">*</span></label></label>
                                    <input name = "birthday" type="date" class="bodyFont formInput form-control" id="birthday" placeholder="Birthday" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Birthday. (Minimum Age: 18 Years Old)</p>
                                    </div>
                                </div>   
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="age">Age<span style="color: #B30000;">*</span></label></label>
                                    <input name = "age" type="number" class="bodyFont formInput form-control" id="age" placeholder="age" required readonly>
                                    
                                </div>   
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="sex" aria-label="Default select example">Sex<span style="color: #B30000;">*</span></label></label>
                                    <select id="sex" name="sex"  class="form-select" required style = "border-radius: 10px; font-family: 'Work Sans', sans-serif; font-size: calc(16px + 0.70vw);">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Prefer not to say">Prefer not to say</option>
                                      </select>
                                      <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Sex.</p>
                                    </div>
                                </div>    
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="nationality">Nationality<span style="color: #B30000;">*</span></label></label>
                                    <input name = "nationality" type="text" class="bodyFont formInput form-control" id="nationality" placeholder="Nationality" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Nationality.</p>
                                    </div>
                                </div>   
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="civil_status">Civil Status<span style="color: #B30000;">*</span></label></label>
                                    <input name = "civil_status" type="text" class="bodyFont formInput form-control" id="civil_status" placeholder="Civil Status" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Civil Status.</p>
                                    </div>
                                </div>   
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="email">Email<span style="color: #B30000;">*</span></label>
                                    <input name = "email" type="email" class="bodyFont formInput form-control" id="email" placeholder="someone@email.com" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Email. (someone@email.com)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- <label class="bodyFont formLabel globalSubHeader" for="contact_number">Contact
                                    Number<span style="color: #B30000;">*</span></label><br>
                                <div class="d-flex justify-content-center"
                                    style="position: absolute; width: 80px; height: 49px; border-right: 1px solid #B8B8B8;">
                                    <h2 class="align-self-end numberLabel numberLabel" style="font-weight: 400;">+63
                                    </h2>
                                </div>
                                <input id="contact_number" name="contact_number" class="bodyFont specialFormInput"
                                    type="number" placeholder="Contact Number"> -->

                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="contact_number">Mobile Number<span style="color: #B30000;">*</span></label>
                                    <input name = "contact_number" type="tel" class="bodyFont formInput form-control" id="contact_number" pattern = "[9]{1}[0-9]{9}" placeholder="9XXXXXXXXX" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a Mobile Number. (9XXXXXXXXX)</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="formTitle titleFont globalHeader">Address</span>
                        <div class="row mt-5 mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="address_first_line">House Number - Blk - Street<span style="color: #B30000;">*</span></label></label>
                                    <input name = "address_first_line" type="text" class="bodyFont formInput form-control" id="address_first_line" placeholder="House Number - Blk - Street" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid House Number - Blk - Street.</p>
                                    </div>
                                </div>   
                            </div>
                            <div class="col">
                                <div class = "form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="address_city">City<span style="color: #B30000;">*</span></label></label>
                                    <input name = "address_city" type="text" class="bodyFont formInput form-control" id="address_city" placeholder="City" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid City.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class = "form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="address_barangay">Barangay<span style="color: #B30000;">*</span></label></label>
                                    <input name = "address_barangay" type="text" class="bodyFont formInput form-control" id="address_barangay" placeholder="Barangay" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Barangay.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class = "form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="address_province">Province<span style="color: #B30000;">*</span></label></label>
                                    <input name = "address_province" type="text" class="bodyFont formInput form-control" id="address_province" placeholder="Province" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Province.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="address_zip_code">Zip Code<span style="color: #B30000;">*</span></label>
                                    <input name = "address_zip_code" type="tel" class="bodyFont formInput form-control" id="address_zip_code" pattern = "[0-9]{4}" placeholder="XXXX" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Zip Code. (XXXX)</p>
                                    </div>
                                </div>
    
                            </div>
                        </div>

                        <div id="landlordDiv" style="display: none;">
                            <span class="formTitle titleFont globalHeader">Landlady/landlord information</span>
                            <div class="row mt-5 mb-3">
                                <div class="col">
                                    <div class = "form-group">
                                        <label class="bodyFont formLabel globalSubHeader" for="landlord_name">Landlord Name<span style="color: #B30000;">*</span></label></label>
                                        <input name = "landlord_name" type="text" class="bodyFont formInput form-control" id="landlord_name" placeholder="Landlord Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="bodyFont formLabel globalSubHeader" for="landlord_contact_number">Landlord Mobile Number<span style="color: #B30000;">*</span></label>
                                        <input name = "landlord_contact_number" type="tel" class="bodyFont formInput form-control" id="landlord_contact_number" pattern = "[9]{1}[0-9]{9}" placeholder="9088178530">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col"> 
                                    <div class = "form-group">
                                        <label class="bodyFont formLabel globalSubHeader" for="landlord_address">Landlord Address<span style="color: #B30000;">*</span></label></label>
                                        <input name = "landlord_address" type="text" class="bodyFont formInput form-control" id="landlord_address" placeholder="Landlord Address">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <span class="formTitle titleFont globalHeader">Emergency Contact</span>
                        <div class="row mt-5 mb-3">
                            <div class="col">
                                <div class = "form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="emergency_name">Name<span style="color: #B30000;">*</span></label></label>
                                    <input name = "emergency_name" type="text" class="bodyFont formInput form-control" id="emergency_name" placeholder="Name" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a Emergency Contact Name.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="emergency_contact_number">Mobile Number<span style="color: #B30000;">*</span></label>
                                    <input name = "emergency_contact_number" type="tel" class="bodyFont formInput form-control" id="emergency_contact_number" pattern = "[9]{1}[0-9]{9}" placeholder="9XXXXXXXXX" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a Mobile Number. (9XXXXXXXXX)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class = "form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="emergency_address">Address<span style="color: #B30000;">*</span></label></label>
                                    <input name = "emergency_address" type="text" class="bodyFont formInput form-control" id="emergency_address" placeholder="Address" required>
                                    <div class="invalid-feedback">
                                        <p class="bodyFont globalBody">Please enter a valid Emergency Contact Address.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="height: 5px; background-color: #ECC66E; border: none;" class="mt-5 mb-5">

                        <div class="row mb-5">
                            <div class="col">
                                <div class = "form-group">
                                    <label class="bodyFont formLabel globalSubHeader" for="first_choice" aria-label="Default select example">First File Choice<span style="color: #B30000;">*</span></label></label>
                                    <select id="first_choice" name="first_choice"  class="form-select" required style = "border-radius: 10px; font-family: 'Work Sans', sans-serif; font-size: calc(16px + 0.70vw);">
                                        <option value="govt">Government ID</option>
                                        <option value="letter">Letter of Acknowledgement</option>
                                    </select>
                                </div>
                                <p class="bodyFont globalBody mt-2" id = "first_file_accepted">Accepted files: .jpeg, .jpg, .png</p>
                                <input name = "government_id_or_letter" class="form-control form-control-lg" id="government_id_or_letter" type="file" accept = ".jpeg, .jpg, .png" required>
                            </div>
                        </div>

                        <div class="row mt-5 mb-4" id="votersDiv">                                 
                            <div>
                                <label for="voters_id" class="form-label bodyFont formLabel globalSubHeader">Voter's ID<span style="color: #B30000;">*</span></label>
                                <p class="bodyFont globalBody">Accepted files: .jpeg, .jpg, .png</p>
                                <input name = "voters_id" class="form-control form-control-lg" id="voters_id" type="file" accept = ".jpeg, .jpg, .png" required>
                            </div>
                        </div>

                        <div class="row mt-5 mb-4">
                            <div>
                                <label for="personal_photo" class="form-label bodyFont formLabel globalSubHeader">Most recent 1x1 photo<span style="color: #B30000;">*</span></label>
                                <p class="bodyFont globalBody">Accepted files: .jpeg, .jpg, .png</p>
                                <input name = "personal_photo" class="form-control form-control-lg" id="personal_photo" type="file" accept = ".jpeg, .jpg, .png" required>
                            </div>
                        </div>
                        <hr style="height: 5px; background-color: #ECC66E; border: none;" class="mt-5 mb-5">
                        <div>
                            <h1 class="mb-5">Terms and Conditions</h1>
                            <div>
                                <input style="width: 24px; height: 24px" type="checkbox" id="checker1" name="checker1">
                                <label class="titleFont checkingFont" for="checker1"> I hereby declare that the
                                    information provided is true and correct.</label>
                            </div>

                            <div>
                                <input style="width: 24px; height: 24px" type="checkbox" id="checker2" name="checker2">
                                <label class="titleFont checkingFont" for="checker2"> I understand that a false
                                    statement may cancel any
                                    occurring requests in Barangay Guadalupe Viejo.</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input class="btn btn-secondary" id="finalSubmitButton" type="submit" value="submit">
                        </div>
    
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="modalText">

                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    {% endblock%}
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- SUBMISSION HANDLER -->
    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
                })
            })()
    </script>
    <!-- FIRST FILE  -->
    <script>
        const element = document.getElementById("first_choice");

        element.addEventListener('change', (event) => {
            if(element.value == "govt"){
                document.getElementById("first_file_accepted").textContent = "Accepted files: .jpeg, .jpg, .png";
                document.getElementById("government_id_or_letter").accept = ".jpeg, .jpg, .png";
            }
            else if(element.value == "letter"){
                document.getElementById("first_file_accepted").textContent = "Accepted files: .docx, .pdf";
                document.getElementById("government_id_or_letter").accept = ".docx, .pdf";
            }

        })
    </script>

    <script>
        // SET MIN AND MAX DATES
        date2 = new Date();
        date2.setFullYear(date2.getFullYear()-120);
        var date2String = moment(date2).format("YYYY-MM-DD");
        document.getElementById("birthday").min = date2String;

        date = new Date();
        date.setFullYear(date.getFullYear()-18);
        var dateString = moment(date).format("YYYY-MM-DD");
        document.getElementById("birthday").max = dateString;
    </script>
    <!-- GET AGE -->
    <script>
        const getAge = birthDate => Math.floor((new Date() - new Date(birthDate).getTime()) / 3.15576e+10)

        const selectElement = document.getElementById("birthday");
        console.log(selectElement);
        selectElement.addEventListener('change', (event) => {   
            var bday = document.getElementById("birthday").value;
            var age = getAge(bday);
            document.getElementById("age").value = age;
        }); 
    </script>
    <script src="{% static 'main.js' %}"></script>


    <!-- UUID GENERATOR FOR DOCUMENT AND LEAVING PAGE CONFIRMATION -->
    <script>
        function uuidGenerator() {
            uuid = ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
            uuidArray = uuid.split("-");



            return uuidArray[0];
        }
        document.getElementById("document_id").setAttribute('value', uuidGenerator());

        document.getElementById("finalSubmitButton").disabled = true;
        var twoCheckers = 0;
        console.log(twoCheckers);
        const checker1 = document.getElementById('checker1')
        const checker2 = document.getElementById('checker2')
        checker1.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                twoCheckers += 1;
                console.log(twoCheckers);
                if (twoCheckers == 2) {
                    document.getElementById("finalSubmitButton").disabled = false;
                }
            } else {
                twoCheckers -= 1;
                console.log(twoCheckers);
                document.getElementById("finalSubmitButton").disabled = true;
            }
        })

        checker2.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                twoCheckers += 1;
                console.log(twoCheckers);
                if (twoCheckers == 2) {
                    document.getElementById("finalSubmitButton").disabled = false;
                }
            } else {
                twoCheckers -= 1;
                console.log(twoCheckers);
                document.getElementById("finalSubmitButton").disabled = true;
            }
        })
        var submitting = false
        console.log("SUBMITTING:" + submitting)
        document.getElementById("finalSubmitButton").addEventListener("click", function () {
            submitting = true
            console.log("SUBMITTING:" + submitting)
        })

        window.onbeforeunload = function () {
            if (submitting == false) {
                console.log("SUBMITTING THE THING HELP HELP HELP :" + submitting)
                return "Data will be lost if you leave the page, are you sure?";
            }
            else if (submitting == true) {
                console.log("SUBMITTING THE THING POLEASEEEEEEEEEEEEE :" + submitting)
                return;
            }
        };
    </script>
    <!-- DISPLAY ACCOUNT AVATAR -->
    <script>
        avatarSection = document.getElementById('modalButton')
        avatar = document.getElementById('avatar')
        signin = document.getElementById('signin')
        register = document.getElementById('register')

        userArray = '{{ user }}'.split("");

        console.log('{{ user }}')

        if ('{{ user }}' != "AnonymousUser" && '{{ user }}' != "") {
            signin.style.display = "none"
            register.style.display = "none"
            avatar.style.display = "block"
            avatar.innerHTML = userArray[0]
        }
        else if ('{{ user }}' == "AnonymousUser") {
            signin.style.display = "block"
            register.style.display = "block"
            avatar.style.display = "none"
            avatarSection.style.display = "none"
        }
    </script>
    <!-- DISPLAY MODAL FOR ACCOUNT AVATAR -->
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("modalButton");
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = 'none'

        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>