{% extends "barangay_id_form.html" %}
{% load static %}

{% block title %}
    Barangay Certificate 
{% endblock %}

{% block checkerTitle %}
    Barangay Certificate    
{% endblock %}

{% block form %}
<form id="mainForm" method="POST" action="{% url 'create_barangay_certificate' %}"> {% csrf_token %}
    <input id = "barangay_certificate_type" name = "barangay_certificate_type" type="text" style = "display: none;">
    <!-- :) -->
    <div class="row" style="display: none;">
        <ul id="trial">
            {% for b in ids %}
            <li>{{ b.contact_num }}:{{ b.status }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col">
            <span class="formTitle titleFont globalHeader mb-5">Personal Details</span>
        </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="last_name">Last Name<span
                    style="color: #B30000;">*</span></label><br>
            <input id="last_name" name="last_name" class="bodyFont formInput" type="text"
                placeholder="Last Name">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="first_name">First Name<span
                    style="color: #B30000;">*</span></label><br>
            <input id="first_name" name="first_name" class="bodyFont formInput" type="text"
                placeholder="First Name">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="middle_name">Middle Name<span
                    style="color: #B30000;">*</span></label><br>
            <input id="middle_name" name="middle_name" class="bodyFont formInput" type="text"
                placeholder="Middle Name">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="age">Age<span
                    style="color: #B30000;">*</span></label><br>
            <input id="age" name="age" class="bodyFont formInput" type="number" placeholder="Age">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="birthday">Birthday<span
                    style="color: #B30000;">*</span></label><br>
            <input id="birthday" name="birthday" class="bodyFont formInput" type="date"
                placeholder="Birthday">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="sex">Sex<span
                    style="color: #B30000;">*</span></label><br>
            <select id="sex" name="sex" class="bodyFont formInput" name="sex" id="sex">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Prefer not to say">Prefer not to say</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="nationality">Nationality<span
                    style="color: #B30000;">*</span></label><br>
            <input id="nationality" name="nationality" class="bodyFont formInput" type="text"
                placeholder="Nationality">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="civil_status">Civil Status<span
                    style="color: #B30000;">*</span></label><br>
            <input id="civil_status" name="civil_status" class="bodyFont formInput" type="text"
                placeholder="Civil Status">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="email">Email<span
                    style="color: #B30000;">*</span></label><br>
            <input id="email" name="email" class="bodyFont formInput" type="text"
                placeholder="Email">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="contact_number">Contact Number<span
                    style="color: #B30000;">*</span></label><br>
            <div class="d-flex justify-content-center"
                style="position: absolute; width: 80px; height: 49px; border-right: 1px solid #B8B8B8;">
                <h2 class="align-self-end" style="font-size: 30px; font-weight: 400;">+63</h2>
            </div>
            <input id="contact_number" name="contact_number"
                class="bodyFont specialFormInput" type="number" placeholder="Contact Number">
        </div>
    </div>

    <span class="formTitle titleFont globalHeader">Address</span>
    <div class="row mt-5 mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="address_first_line">House Number - Blk -
                Street<span style="color: #B30000;">*</span></label><br>
            <input id="address_first_line" name="address_first_line" class="bodyFont formInput"
                type="text" placeholder="House Number - Blk - Street">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="address_city">City<span
                    style="color: #B30000;">*</span></label><br>
            <input id="address_city" name="address_city" class="bodyFont formInput" type="text"
                placeholder="City">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="address_barangay">Barangay<span
                    style="color: #B30000;">*</span></label><br>
            <input id="address_barangay" name="address_barangay" class="bodyFont formInput"
                type="text" placeholder="Barangay">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="address_province">Province<span
                    style="color: #B30000;">*</span></label><br>
            <input id="address_province" name="address_province" class="bodyFont formInput"
                type="text" placeholder="Province">
        </div>
        <div class="col">
            <label class="bodyFont formLabel globalSubHeader" for="address_zip_code">Zip Code<span
                    style="color: #B30000;">*</span></label><br>
            <input id="address_zip_code" name="address_zip_code" class="bodyFont formInput"
                type="number" placeholder="Zip Code">
        </div>
    </div>

    <hr style="height: 5px; background-color: #ECC66E; border: none;" class="mt-5 mb-5">
    
    <div class="row mb-5">
        <div class="col">
            <div class = "d-flex justify-content-center">
                <select name="first_file_choice" id="first_file_choice" class="formInput" style="font-weight: 600;">
                    <option value="government_id" class = "formLabel bodyFont ">Government ID</option>
                    <option value="letter_of_acknowledgement">Letter of Acknowledgement</option>
                </select>
                <p class = "bodyFont formLabel globalSubHeader" style = "color:#B30000; ">*</p>
            </div>

        </div>

        <div class="col">
            <!-- <div class="row">
                <p><span style="color: #B30000;">*</span> Government ID or Letter of Acknowledgement is
                    required</p>
            </div> -->
            <div class="row" id = "selectText" >
                <p class = "bodyFont globalBody">Accepted files: .jpeg, .jpg, .png</p>
            </div>

        </div>
    </div>
    <div class="drop-zone mb-5">
        <span class="drop-zone__prompt">
            <svg style="width: 100px; height: 100px; margin-right: 50px;"
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                <path
                    d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
            </svg>Click or drag a file to this area to upload.</span>
        <input id="first_file" name="first_file" type="file" name="myFile" class="drop-zone__input">
    </div>
    <div class="row mb-4">
        <p class="bodyFont formLabel globalSubHeader">Voter’s I.D.<span style="color: #B30000;">*</span></p>
    </div>
    <div class="drop-zone mb-5">
        <span class="drop-zone__prompt">
            <svg style="width: 100px; height: 100px; margin-right: 50px;"
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                <path
                    d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
            </svg>Click or drag a file to this area to upload.</span>
        <input id="second_file" name="second_file" type="file" name="myFile"
            class="drop-zone__input">
    </div>
    <div class="row mb-4">
        <p class="bodyFont formLabel globalSubHeader">Most recent 1x1 photo<span style="color: #B30000;">*</span></p>
    </div>
    <div class="drop-zone mb-5" style="height: 300px; width: 300px;">
        <span class="drop-zone__prompt">
            <svg style="width: 100px; height: 100px;" xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill"
                viewBox="0 0 16 16">
                <path
                    d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
            </svg>
            <br>
            Click or drag a file to this area to upload.</span>
        <input id="third_file" name="third_file" type="file" name="myFile" class="drop-zone__input">
    </div>
    <div class="d-flex justify-content-end">
        <input class="btn btn-secondary" type="submit" value="Submit">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalText">

                    </p>
                </div>
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
            </div>
        </div>
    </div>
</form>
{% endblock %}